/* 信科绿 */
html[data-theme="cyitGreen"] {
  --pure-theme-sub-menu-active-text: var(--el-color-primary);
  --pure-theme-menu-bg: #fff;
  --pure-theme-menu-hover: rgb(96 172 128 / 15%);
  --pure-theme-sub-menu-bg: #fff;
  --pure-theme-menu-text: #252527;
  --pure-theme-sidebar-logo: #fff;
  --pure-theme-menu-title-hover: var(--el-color-primary);
  --pure-theme-menu-active-before: var(--el-color-primary);
}

/* 绿宝石 */
html[data-theme="mingQing"] {
  --pure-theme-sub-menu-active-text: var(--el-color-primary);
  --pure-theme-menu-bg: #fff;
  --pure-theme-menu-hover: rgb(89 191 193 / 15%);
  --pure-theme-sub-menu-bg: #fff;
  --pure-theme-menu-text: #252527;
  --pure-theme-sidebar-logo: #fff;
  --pure-theme-menu-title-hover: var(--el-color-primary);
  --pure-theme-menu-active-before: var(--el-color-primary);
}

/* 道奇蓝 */
html[data-theme="default"] {
  --pure-theme-sub-menu-active-text: var(--el-color-primary);
  --pure-theme-menu-bg: #001529;
  --pure-theme-menu-hover: rgb(64 145 247 / 15%);
  --pure-theme-sub-menu-bg: #0f0303;
  --pure-theme-menu-text: rgb(254 254 254 / 65%);
  --pure-theme-sidebar-logo: #002140;
  --pure-theme-menu-title-hover: var(--el-color-primary);
  --pure-theme-menu-active-before: var(--el-color-primary);
}
